<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Blank</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1>Christina Hastenrath </h1><h2>API Resume 🦄</h2>
          <h4><a href="/api">Read My API Documentation</a></h4>
          <h4>Just copy and paste the API URL with the endpoint you are interested in, into <a href="https://www.getpostman.com/downloads/">Postman</a> and checkout my Resume</h4>
        </div>
      </div>
    </div>
  </body>
</html>
